doctype html
html
 head
  title Grade Summary
<<<<<<< HEAD
=======
  script
   include ../own_modules/school_routes.js
>>>>>>> fe12073e606d18e912e5704c285d63b4245b164f
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  h1 Grade Summary
  p
   div
    div Name: #{name}
    form
     input(type="text",name='grade',placeholder="Enter Grade name")
     button(type = "submit" onclick = "javascript: form.action = '/updateGrade/#{name}'") Update Student Grade
     div Students:
     ul
      each student in students
       li 
        a(href="/students/#{student.id}") #{student.name}
     button(type = "submit" onclick = "javascript: form.action ='/addStudent/#{name}'") Add Student

     div Subjects:
     ul
      each subject in subjects
        li 
         a(href="/subject/#{subject.id}") #{subject.name}
     button(type = "submit" onclick = "javascript: form.action ='/addSubject/#{id}'") Add Subject
      
